@mixin display($display, $columns: none, $align: normal, $gap: 0px) {
  display: $display;
  @if $display == 'flex' {
    flex-direction: column;
  }

  @if $columns {
    grid-template-columns: $columns;
  }

  align-items: $align;
  gap: $gap;
}

@mixin searchBarBorderRadius {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin borderColor($border, $color, $px: 1px) {
  #{$border}: solid $px $color;
}

@mixin transition($target, $speed) {
  transition: $target $speed;
}

@mixin heightWidth($min, $height: unset, $width: unset) {
  @if $min {
    min-height: $height;
    min-width: $width;
  } @else {
    height: $height;
    width: $width;
  }
}

@mixin respond($breakPoint) {
  @if $breakPoint == 'mobile' {
    @media screen and (max-width: 360px) and (min-width: 110px) {
      @content;
    }
  }

  @if $breakPoint == 'tablet' {
    @media screen and (max-width: 1024px) and (min-width: 360px) {
      @content;
    }
  }
}
